.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: brown;
    color: white;
    font-size: 600;
}

.toolbar span {
    margin-left: 5px;
}